 <h3>教師名</h3>

<%= form_tag({controller:"teachers",action:"index"}, method: :get) do %>

 <%= text_field_tag :search %>

 <% end %>

<h3>科目名</h3>

<%= form_tag({controller:"subjects",action:"index"}, method: :get) do %>

 <%= text_field_tag :search %>

 <%= submit_tag 'シラバスを検索する' %>

<% end %>
