<p id="notice"><%= notice %></p>

<h1>Api1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api1s.each do |api1| %>
      <tr>
        <td><%= api1.title %></td>
        <td><%= api1.content %></td>
        <td><%= link_to 'Show', api1 %></td>
        <td><%= link_to 'Edit', edit_api1_path(api1) %></td>
        <td><%= link_to 'Destroy', api1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api1', new_api1_path %>
