<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @api1.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @api1.content %>
</p>

<%= link_to 'Edit', edit_api1_path(@api1) %> |
<%= link_to 'Back', api1s_path %>
